.app{
text-align: center;
background-image: url('./sixnfivespace.jpeg');
background-size: cover;
background-repeat: no repeat;
height: 100vw
}

.forecast-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.forecast-container > div {
  flex: 0 0 20%; /* Set width for each item (adjust as needed) */
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
}
